@model Category
@{
    ViewData["Title"] = "Category Details";
}

<div class="row">
    <div class="col-12">
        <h2>@Model.Name</h2>
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>
<div class="row justify-content-end mt-5 mr-5">
    <a asp-action="Index" class="btn btn-dark btn-icon-text">
        Go Back
        <i class="mdi mdi-keyboard-backspace btn-icon-append"></i>
    </a>
</div>

