@model Bio
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row upper-row">
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="header">CUSTOMER SERVICE</li>
                        <li class="f-list-item">Help & Contact Us</li>
                        <li class="f-list-item">Returns & Refunds</li>
                        <li class="f-list-item">Online Stores</li>
                        <li class="f-list-item">Terms & Conditions</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="header">COMPANY</li>
                        <li class="f-list-item">About Us</li>
                        <li class="f-list-item">Blog</li>
                        <li class="f-list-item">Order Tracking</li>
                        <li class="f-list-item">FAQ Page</li>
                        <li class="f-list-item">Contact Us</li>
                        <li class="f-list-item">Login</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="header">SOCIAL MEDIA</li>
                        <li class="f-list-item">Twitter</li>
                        <li class="f-list-item">Instagram</li>
                        <li class="f-list-item">Tumblr</li>
                        <li class="f-list-item">Pinterest</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="header">ARCHIVE</li>
                        <li class="f-list-item">Designer Shoes</li>
                        <li class="f-list-item">Gallery</li>
                        <li class="f-list-item">Pricing</li>
                        <li class="f-list-item">Feature Index</li>
                        <li class="f-list-item">Login</li>
                        <li class="f-list-item">Help & Support</li>
                    </ul>
                </div>
                <div class="row lower-row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="text">
                            <p>Powered by <span>Mikado Themes</span> 2018</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="image">
                            <img src="~/img/footer-bottom-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="socials">
                            <span>INSTAGRAM</span>
                            <span>FACEBOOK</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>